ul.navbar-nav>li>a{
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

ul.navbar-nav>li.nav-item.dropdown>ul.dropdown-menu>li>a{
	letter-spacing: 0.15rem;
}

section{
	margin-top: 2rem;
}
