ul.navbar-nav>li>a{
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}
ul.navbar-nav>li.nav-item.dropdown>.dropdown-menu>a{
	letter-spacing: 0.15rem;
}

section{
	margin-top: 2rem;
}

.list-unstyled li {

	padding: 1.5rem;
	border-bottom: 1px solid #343a40;
}
.list-unstyled li a:hover {

	color: #323232;
}
.list-unstyled li a{

	color:  black;
	text-decoration: none;
}